# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Data
data/*.parquet
data/*.csv
*.db
*.duckdb

# Docker
.env

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter Notebooks
notebooks/.ipynb_checkpoints/
notebooks/*.pyc
notebooks/__pycache__/

